@tailwind base;
@tailwind components;
@tailwind utilities;

.border-red-500 {
  border-color: #f56565;
}

.text-indigo-700 {
  color: rgb(79 70 229);
}

.border-indigo-700 {
  border-color: rgb(79 70 229);
}

.w-17 {
  width: 4.25rem;
}

.w-18 {
  width: 4.5rem;
}

.h-18 {
  height: 4.5rem;
}

.border-gray-100 {
  border-color: rgb(243 244 246);
}

.bg-gray-100 {
  background-color: rgb(243 244 246);
}

.border-gray-200 {
  border-color: rgb(209 213 219);
}

.bg-gray-200 {
  background-color: rgb(209 213 219);
}

.border-gray-400 {
  border-color: rgb(156 163 175);
}

.bg-gray-400 {
  background-color: rgb(156 163 175);
}

.border-amber-500 {
  border-color: rgb(245 158 11);
}
